.flexbox {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
  }

  .link {
    margin-right : 5px;

    @include desde($breakpoints, medium) {
      margin-right : 10px;
    }
  }

  .content {
    width  : 70%;
    margin : 0 auto;
  }
