*,
*::before,
*::after {
  box-sizing : border-box;
  margin: 0;
	padding: 0;
}

body {

  font-family : $font-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family    : $font-title;
  text-transform : uppercase;
  font-weight    : $text-light;
  text-align     : center;
  width          : 100%;
}

img {
  max-width : 100%;
  border    : none;
}

li {
  list-style : none;
}

a {
  text-decoration : none;
}
