*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

img {
  max-width: 100%;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.login-container {
  margin-top: 1.5rem;
}

input {
  margin-left: auto;
  margin-right: auto;
}

.login-container, input {
  margin-bottom: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: #2693FF;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 21.25rem;
  border: 0.0625rem solid #ddd;
  text-align: center;
  background: #fff;
  border-radius: 3.125rem;
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}

input {
  display: block;
  width: 15.5rem;
  height: 2rem;
  background: inherit;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #0C81F5;
  border-width: 0.125rem;
  padding-left: 0.625rem;
  font-size: 1.125rem;
}

img {
  width: 12.5rem;
  height: 12.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.login-button {
  width: 6.25rem;
  height: 2rem;
  margin-bottom: 2rem;
  background: #2693FF;
  border-radius: 0.625rem;
  color: #fff;
  border: 1px solid #000;
  font-size: 1.125rem;
}
