.main {
    min-height     : calc(90vh - 150px);
    padding-bottom : 0;
    background     : $primary-color;
    height         : 70%;

    &-content {
      color      : #000;
      left       : 50%;
      position   : absolute;
      top        : 50%;
      text-align : center;
      transform  : translate(-50%, -50%);
      width      : 100%;
      z-index    : 200;
      color      : #fff;
    }

    &-banner {
      position        : relative;
      background-size : cover;
      width           : 100%;
      height          : 100%;

      &::before {
        content    : "";
        display    : block;
        width      : 100%;
        height     : 100%;
        background : $primary-color;
        position   : absolute;
        opacity    : 0.5;
      }
    }
  }

  .text {
    text-align : center;
    font-size  : 18px;
  }

  img {
    width : 100%;
  }
