// body {
//   /* Aquí el origen de la imagen */
// //   background: #5FA6EE;
//   background: lighten($primary-color, 50%);
// }


// .login-container {
//     background: lighten($primary-color, 87%);
//     border: 1px solid #DDDDDD;
//     border-radius: 10%;
//     font-family: sans-serif;
//     margin: 25px auto;
//     margin-top: 50px;
//     padding: 20px;
//     width: 300px;
//     box-shadow: -20px -4px 31px 0px rgba(0,0,0,0.33);
// }
// form.login div {
//     margin-bottom: 15px;
//     overflow: hidden;
// }


// form img.logo{
//     margin-top: -4%;
//     height: 35px;
//     width: 35px;
//     float: right;
// }
// form.login div img{
//     height: 200px;
//     width: 200px;
//     position: relative;
//     left: 50%;
//      transform: translateX(-50%);
//     //  margin-left: 10px;
//     //  margin-right: 10px;
// }
// form hr{
//     border: 9px solid lighten($primary-color, 50%);
//     border-radius: 5px;
// }
// form div input[type="text"], form div input[type="password"] {
//     border: 1px solid lighten($primary-color, 50%);
//     position: relative;
//     left: 50%;
//     transform: translateX(-50%);
//     padding: 4px;
//     background: lighten($primary-color, 87%);
//     border: none;
//     border-bottom: 2px solid lighten($primary-color, 50%); ;
// }

// form div input:after{
//     border: none;
//     border-bottom: 2px solid lighten($primary-color, 50%); ;
// }



// .boton {
//     border: none;
//     background: $secondary-color;
//     color: #f2f2f2;
//     padding: 10px;
//     font-size: 18px;
//     border-radius: 5px;
//     position: relative;
//     left: 50%;
//     transform: translateX(-50%);
//     box-sizing: border-box;
//     transition: all 500ms ease;
// }


// .boton:before{
//     background: rgba(0,0,0,0);
//     color: #3a7999;
//     box-shadow: inset 0 0 0 3px darken($secondary-color, 30%);
// }

// .error{
//     color: red;
//     font-weight: bold;
//     margin: 10px;
//     text-align: center;
// }

@function calculate-rem($size) {
    $rem-size: $size / 16px;
    @return #{$rem-size}rem;
  }

  %vertical-center {
    position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     width: 50%;
     height: 30%;
     margin: auto;
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
  }

  %margin-top {
    margin-top: calculate-rem(24px);
  }

  %horizontal-center {
    margin-left: auto;
    margin-right: auto;
  }

  %margin-bottom {
    margin-bottom: calculate-rem(24px);
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 16px;
  }
  body {
    background: #2693FF;
    // background: red;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // @extend %margin-bottom;
    // @extend %margin-top;
  }
  .login-container {
    // @extend %horizontal-center;
    @extend %margin-bottom;
    @extend %margin-top;
    // @extend %vertical-center;
    width: calculate-rem(340px);
    // height: 100px;
    border: calculate-rem(1px) solid #ddd;
    text-align: center;
    background: #fff;
    border-radius: calculate-rem(50px);
  }

  .title {
    font-size: calculate-rem(32px);
    margin-top: calculate-rem(32px);
    font-weight: bold;
  }

  input {
    @extend %horizontal-center;
    display: block;
    width: calculate-rem(248px);
    height: calculate-rem(32px);
    @extend %margin-bottom;
    background: inherit;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #0C81F5;
    border-width: calculate-rem(2px);
    padding-left: calculate-rem(10px);
    font-size: calculate-rem(18px);
  }

  .logo-img {
    width: calculate-rem(200px);
    height: calculate-rem(200px);
    @extend %margin-bottom;
    @extend %margin-top;
  }

  .login-button {
    width: calculate-rem(100px);
    height: calculate-rem(32px);
    margin-bottom: calculate-rem(32px);
    background: #2693FF;
    border-radius: calculate-rem(10px);
    color: #fff;
    border: 1px solid #000;
    font-size: calculate-rem(18px);
  }
