.main-menu {
    background : $primary-color;
  }

  .menu {
    margin-bottom : 0;
    margin-top    : 0;
    width         : 100%;

    &-item {
      flex       : auto;
      text-align : center;
      border     : 1px solid #000;
      font-size  : 18px;


      &:first-of-type {
        border-left : none;
      }
    }
    &-link {
      line-height : 1.8;
      display     : block;
      color       : #fff;
      background  : darken($primary-color, 5%);
      &:hover {
        background : darken($primary-color, 10%);
      }
    }
    &-label {
      margin-top  : 0;
      display     : block;
      color       : #82889A;
      font-size   : 14px;
      line-height : 1.7;
    }
  }

.menu-item {
    position: relative;
  }

.menu-item > .menu {
  position: absolute;
  display: none;
}

.menu-item:hover > .menu {
  display: block;
}
